<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header><h1>MY Page</h1></header>
        {% block content %}
        <a href="{{ url_for('sign_up_') }}"> click</a>
        
        <h1>Cookie Example</h1>
        {% if request.cookies.get('my_cookie') %}
            <p>My Cookie Value: {{ request.cookies.get('my_cookie') }}</p>
        {% else %}
            <p>No cookie found.</p>
        {% endif %}
        {% endblock %}
       <div class="mn-footer-info__item body-5">
      © MY_PAGE, 2024
    </div>
    </body>
</html>